body {
  margin: 0;
  min-height: 100vh;
  color: white;

  background:
    radial-gradient(
      1200px 600px at 10% 10%,
      rgba(6, 182, 212, 0.06),
      transparent 60%
    ),
    linear-gradient(
      180deg,
      #071029 0%,
      #041023 55%
    );

  background-attachment: fixed; /* makes it smooth */
}
/* header  */
.custom-navbar {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
  color: #FFFFFF;
}

.custom-navbar li {
  color: white;
}
/* hover effect */
.nav-listitems li:hover {
  color: aqua;

}

/* hero section */
.hero-section{
  margin-top: 120px;
  color: white;
}
.glass-card {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.glass-card:hover {
  border: 1px solid rgba(6, 182, 212, 0.4);
  box-shadow: 0 6px 40px rgba(6, 182, 212, 0.15);
}

.text-dim {
  font-size: 13px;
  color: #94a3b8;
  letter-spacing: 0.5px;
}
.text-dim-color {
   color: #94a3b8;
  letter-spacing: 0.5px;
}
.card-color {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}